{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}42 Coffee Cups Test Assignments</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js">
    </script>
    {% block extra_head %}{% endblock extra_head %}
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% block auth %}
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-right nav_my">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}?next=/"> <span class="glyphicon glyphicon-user"></span>Logout </a>
            {% else %}
            <a href="{% url 'login' %}?next=/"> <span class="glyphicon glyphicon-log-in"></span> Login </a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% block content %}{% endblock content %}
</body>
{% block scripts %}{% endblock scripts %}

</html>